version: '3.4'

services:
  dragonflydb:
    container_name: dragonflydb
    command: "--proactor_threads 2 --snapshot_cron '*/5 * * * *'"
    ulimits: 
      memlock: -1
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks: [challenge]
    volumes: 
      - dragonflydata:/data

  nginx:
    #image: nginx:alpine
    build: ./nginx
    container_name: nginx
    ports:
      - "9010:80"
    #volumes:
      #- ./nginx.conf:/etc/nginx/nginx.conf:ro
      #- ./html:/usr/share/nginx/html:ro
    restart: unless-stopped
    networks: [challenge]

  challengecrf.api:
    container_name: challengecrf.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ElasticConfiguration__Uri=http://elasticsearch:9200"
    depends_on:
      - rabbitmq
      - elasticsearch
    ports:
      - "5200:80"
    # expose:
    #   - "8080"
    networks: [challenge]

  challengecrf.queue.worker:
    environment:
      - DOTNET_ENVIRONMENT=Development
      - "ElasticConfiguration__Uri=http://elasticsearch:9200"
    depends_on:
      - challengecrf.api
      - rabbitmq
      - elasticsearch
    ports:
      - "5303:5303"
    networks: [challenge]
  
  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks: [challenge]
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:15672"]
    #   interval: 10s
    #   timeout: 10s
    #   retries: 2

  elasticsearch:
    container_name: elasticsearch
    environment:
      - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    networks: [challenge]
  
  kibana:
    container_name: kibana
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks: [challenge]

  
    
  mongo:    
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
       MONGO_INITDB_ROOT_USERNAME: root
       MONGO_INITDB_ROOT_PASSWORD: example
    networks: [challenge]

volumes:
  mongo_data:
  elasticsearch-data:
  dragonflydata:
  
networks:
    challenge:
        driver: bridge