@using CashFlow.Frontend.Components.Pages
@inherits LayoutComponentBase

<TabControl >
  <TabPage Text="Cash Flow">
    
    <NavMenu TitleNavbar="Cash Flow"></NavMenu>
    <div class="container">
        <CashList />
    </div>
    
  </TabPage>
  <TabPage Text="Daily Consolidated">
    <NavMenu TitleNavbar="Daily Consolidated"></NavMenu>
    <div class="container">
        <DailyList />
    </div>
  </TabPage>
</TabControl>


<div class="container">
@Body
</div> 